{% extends "layout.html" %}

{% block content %}
<style>
</style>
<body>
    <main role="main">
        <div class="container"><br>
            {% with messages = get_flashed_messages(with_categories=true) %}
               {% if messages %}
                 <ul class="flashes">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
                            <button type="button" class="close" data-dismiss={{ category }} aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                        </div>
                    {% endfor %}
                </ul>
              {% endif %}
             {% endwith %}
             <div class="jumbotron center">
         		<form action="" method="POST">
         			{{ form.hidden_tag() }}
         			<fieldset class="form-group">
                <legend class ="border-bottom mb-4"><h1>Edit Work Order</h1></legend><br>
                    <strong>Order Number: </strong>{{ order.order_number }}<br>
                    <strong>Order Type: </strong>{{ order.type }}<br>
                    <strong>Room Number: </strong>{{ order.room_num }}<br>
                    <strong>Employee ID: </strong>{{ order.employee_id }}<br><br>
                    <div class="row">
                        <div class="col-xs-12 sm-12 col-md-12 col-lg-12">
           				    <div class = "form-group">
           					{{ form.comment.label(class="form-control-label") }}

           					{% if form.comment.errors %}
           						{{ form.comment(class="form-control form-control-lg is-invalid") }}
           						<div class="invalid-feedback">
           							{% for error in form.comment.errors %}
           								<span>{{ error }}</span>
           							{% endfor %}
           						</div>
           					{% else %}
           						{{ form.comment(class="form-control form-control-lg") }}
           					{% endif %}
                             </div>
                        </div>
                    </div>
         			</fieldset>
         			 <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                         <a href="{{ url_for('view_work_orders') }}" class="btn btn-warning">Cancel</a>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust" id="payment_buttons">
                          {{ form.submit(class="btn btn-danger btn-block") }}
                        </div>
                    </div>
         		</form><br>
         	</div>
        </div>
    </main>
</body>

<script>
</script>
{% endblock %}
