{% extends "layout.html" %}

{% block content %}
<style>
 #get_started {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-top: 10px;
        }

#find_rooms_button {
    height: 50px;
    width: 240px;
}
</style>
<body>
    <main role="main">
        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
               {% if messages %}
                 <ul class="flashes">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
                            <button type="button" class="close" data-dismiss={{ category }} aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </ul>
              {% endif %}
             {% endwith %}
            <div class="row align-items-center my-5">
              <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ url_for('load_image', filename='pool.jpg') }}">
              </div>
              <!-- /.col-lg-8 -->
              <div class="col-lg-5">
                <h1 class="font-weight-light">Welcome to Our Hotel Reservation System</h1>
                <p>This is our Hotel Reservation System, built as a class project for UCF's Processes for Object Oriented Software Development.
                 Our system allows guests to search for and reserve rooms, as well as enables employees to handle requests around the hotel.</p>
                <a class="btn btn-primary" href="#">More Info</a>
              </div>
            </div>

            <div class="jumbotron d-flex" id="get_started">
                <form class="form-inline" id="inquiry_form" action="{{ url_for('check_availability') }}" method="post">
                     <div class="form-group col-xs-3 col-md-3">
                        <label for="guest_num_input" class="control-label">Number of Guests</label>
                          <select class="form-control" style="width: 200px" name="guest_num_input" value="{{ num_guests }}">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                          </select>
                    </div>
                    <div class="form-group col-xs-3 col-md-3">
                        <label for="check_in" class="control-label">Check In Date</label>
                        {% if check_in %}
                            <input class="form-control" style="width: 200px" type="date" value="{{ check_in }}" name="check_in">
                        {% else %}
                            <input class="form-control" style="width: 200px" type="date" value="" name="check_in" placeholder="9-13-2019">
                        {% endif %}
                    </div>
                    <div class="form-group col-xs-3 col-md-3 ">
                        <label for="check_out" class="control-label">Check Out Date</label>
                        {% if check_out %}
                            <input class="form-control" style="width: 200px" type="date" value="{{ check_out }}" name="check_out">
                        {% else %}
                            <input class="form-control" type="date" style="width: 200px" value="" name="check_out" placeholder="9-14-2019">
                        {% endif %}
                    </div>
                    <div class="form-group col-xs-3 col-md-3">
                        <button  type="submit" class="btn btn-primary" id="find_rooms_button" >Find Available Rooms!</button>
                    </div>
                </form>
            </div>

            <div class="row">
              <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">Single</h4>
                  <img src="{{ url_for('load_image', filename='single_pic.jpg') }}">
                  <div class="card-body">
                      <ul type="circle">
                        <li>One bedroom</li>
                        <li>One queen bed</li>
                        <li>Two person capacity</li>
                      </ul>
                  </div>
                    <div class="card-footer">
                    {% if single_count > 0 %}
                        <strong>{{ single_count }} available</strong><br>
                        <a href="{{ url_for('make_reservation', num_guests=num_guests, check_in=check_in, check_out=check_out, room='single') }}" class="btn btn-primary">Book Now</a>
                    {% endif %}
                    </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">Double</h4>
                  <img src="{{ url_for('load_image', filename='double_pic.jpg') }}">
                  <div class="card-body">
                      <ul type="circle">
                        <li>One bedroom</li>
                        <li>Two queen beds</li>
                        <li>Four person capacity</li>
                      </ul>
                  </div>
                    <div class="card-footer">
                    {% if double_count > 0 %}
                        <strong>{{ double_count }} available</strong><br>
                        <a href="{{ url_for('make_reservation', num_guests=num_guests, check_in=check_in, check_out=check_out, room='double') }}" class="btn btn-primary">Book Now</a>
                    {% endif %}
                    </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">Deluxe</h4>
                  <img src="{{ url_for('load_image', filename='deluxe_pic.jpg') }}">
                  <div class="card-body">
                      <ul type="circle">
                        <li>Two bedrooms and shared living room</li>
                        <li>Three queen beds</li>
                        <li>Six person capacity</li>
                      </ul>
                  </div>
                    <div class="card-footer">
                    {% if deluxe_count > 0 %}
                        <strong>{{ deluxe_count }} available</strong><br>
                        <a href="{{ url_for('make_reservation', num_guests=num_guests, check_in=check_in, check_out=check_out, room='deluxe') }}" class="btn btn-primary">Book Now</a>
                    {% endif %}
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div id="bottom"></div>
        {% if scroll %}
        <script>
            document.getElementById('{{ scroll }}').scrollIntoView();
        </script>
        {% endif %}
    </main>
</body>
{% endblock %}
