{% extends "layout.html" %}

{% block content %}
<style>
</style>
<body>
    <main role="main">
        <div class="container"><br>
            {% with messages = get_flashed_messages(with_categories=true) %}
               {% if messages %}
                 <ul class="flashes">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">{{ message }}
                            <button type="button" class="close" data-dismiss={{ category }} aria-label="Close">
                                <span aria-hidden="true">x</span>
                            </button>
                        </div>
                    {% endfor %}
                </ul>
              {% endif %}
             {% endwith %}
             <div class="jumbotron center">
         		<form action="" method="POST">
         			{{ form.hidden_tag() }}
         			<fieldset class="form-group">
                <legend class ="border-bottom mb-4"><h1>Print Receipt</h1></legend><br>
                    <p>Use this action to print a receipt for a guest.
                    <br>Simply provide the user's email and room number.</p>
                <!-- attempt to make room_num field smaller -->
                    <div class="row">
                        <div class="col-xs-6 sm-6 col-md-6 col-lg-6">
           				    <div class = "form-group">
           					{{ form.email.label(class="form-control-label") }}

           					{% if form.email.errors %}
           						{{ form.email(class="form-control form-control-lg is-invalid") }}
           						<div class="invalid-feedback">
           							{% for error in form.email.errors %}
           								<span>{{ error }}</span>
           							{% endfor %}
           						</div>
           					{% else %}
           						{{ form.email(class="form-control form-control-lg") }}
           					{% endif %}
                             </div>
                        </div>
                        <div class="col-xs-6 sm-6 col-md-6 col-lg-6">
                            <div class = "form-group">
         					{{ form.room_num.label(class="form-control-label") }}

         					{% if form.room_num.errors %}
         						{{ form.room_num(class="form-control form-control-lg is-invalid") }}
         						<div class="invalid-feedback">
         							{% for error in form.room_num.errors %}
         								<span>{{ error }}</span>
         							{% endfor %}
         						</div>
         					{% else %}
         						{{ form.room_num(class="form-control form-control-lg") }}
         					{% endif %}
         				    </div>
                        </div>
                    </div>
         			</fieldset>
         			<div class="form-group">
         				{{ form.submit(class="btn btn-outline-info") }}
         			</div>
         		</form>
         	</div>
        </div>
    </main>
</body>

<script>
</script>
{% endblock %}
