{% extends "layout.html" %}

{% block content %}
<style>
</style>
<body>
    <main role="main">
        <div class="container"><br>
            {% with messages = get_flashed_messages(with_categories=true) %}
               {% if messages %}
                 <ul class="flashes">
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible fade-show" role="alert">{{ message }}
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        </div>
                    {% endfor %}
                </ul>
              {% endif %}
             {% endwith %}
                <div class="jumbotron center">
                    <legend class ="border-bottom mb-4"><h1>{{ reservation.first_name }}'s Receipt</h1></legend><br>
                    <strong>First name: </strong>{{ reservation.first_name }}<br>
                    <strong>Last name: </strong>{{ reservation.last_name }}<br>
                    <strong>Email: </strong>{{ reservation.email }}<br>
                    <strong>Date Reserved: </strong>{{ reservation.date_created }}<br>
                    <strong>Length of Stay: </strong>{{ length }}<br><br>
                    <h4 class="font-weight-light">Price Breakdown</h4>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Item</th>
                          <th scope="col">Price</th>
                          <th scope="col">Total Cost</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row" id="room-type">{{ reservation.room_type }} Room</th>
                          <td>${{ cost_pn }}/night</td>
                          {% set room_price = cost_pn * length %}
                          <td>${{ room_price }}</td>
                        </tr>
                        <tr>
                          <th scope="row">WiFi</th>
                          <td>$10/night</td>
                          {% set wifi_price = 10 * reservation.wifi * length %}
                          <td>${{ wifi_price }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Parking</th>
                          <td>$20 flat rate</td>
                          {% set parking_price = 10 * 1 %}
                          <td>${{ parking_price }} (we dont have this)</td>
                        </tr>
                        <tr>
                          <th scope="row">Cable TV</th>
                          <td>$10/night</td>
                          {% set tv_price = 10 * reservation.tv * length %}
                          <td>{{ tv_price }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Pool Access</th>
                          <td>$30 flat rate</td>
                          {% set pool_price = 30 * reservation.pool %}
                          <td>${{ pool_price }}</td>
                        </tr>
                       <tr>
                          <th scope="row"></th>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <th scope="row">Toiletries</th>
                          <td>$2/request</td>
                          {% set toiletries_price = 2 * room_service['toiletries'] %}
                          <td>${{ toiletries_price }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Food</th>
                          <td>$5/item</td>
                          {% set food_price = 5 * room_service['food'] %}
                          <td>${{ food_price }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Bedding</th>
                          <td>$3/item</td>
                          {% set bedding_price = 3 * room_service['bedding'] %}
                          <td>${{ bedding_price }}</td>
                        </tr>
                        <tr>
                          <th scope="row">Additional Requests</th>
                          <td>$6/request</td>
                          {% set other_price = 6 * room_service['other'] %}
                          <td>${{ other_price }}</td>
                        </tr>
                      <tr>
                          <th scope="row">Total Cost</th>
                          <td></td>
                          <td>${{ room_price + wifi_price + tv_price + parking_price + pool_price + toiletries_price + food_price + bedding_price + other_price}}</td>
                          <td id="total_price"></td>
                        </tr>
                      </tbody>
                    </table><br>
                    <div class="row">
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 pad-adjust">
                            <a href="{{ url_for('employee_portal') }}" class="btn btn-warning">Back to Employee Portal</a>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pad-adjust">
                            <a href="{{ url_for('employee_portal') }}" class="btn btn-danger">Vacate this room</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

<script>
</script>
{% endblock %}
