<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #get_started {
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 10px;
            padding-top: 10px;
        }

        #find_rooms_button {
            height: 50px;
            width: 240px;
        }
    </style>
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
          <a class="navbar-brand" href="#">Hotel Reservation System</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Employee Portal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main role="main">
        <div class="container">
            <div class="row align-items-center my-5">
              <div class="col-lg-7">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ url_for('load_image', filename='pool.jpg') }}">
              </div>
              <!-- /.col-lg-8 -->
              <div class="col-lg-5">
                <h1 class="font-weight-light">Welcome to Our Hotel Reservation System</h1>
                <p>This is our Hotel Reservation System, built as a class project for UCF's Processes for Object Oriented Software Development.
                 Our system allows guests to search for and reserve rooms, as well as enables employees to handle requests around the hotel.</p>
                <a class="btn btn-primary" href="#">More Info</a>
              </div>
            </div>

            <div class="jumbotron d-flex" id="get_started">
                <form class="form-inline" id="inquiry_form" action="{{ url_for('check_availability') }}" method="post">
                     <div class="form-group col-xs-3 col-md-3">
                        <label for="guest_num_input" class="control-label">Number of Guests</label>
                          <select class="form-control" style="width: 200px" name="guest_num_input">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                          </select>
                    </div>
                    <div class="form-group col-xs-3 col-md-3">
                        <label for="check_in" class="control-label">Check In Date</label>
                        <input class="form-control" style="width: 200px" type="date" value="" name="check_in" placeholder="9-13-2019">
                    </div>
                    <div class="form-group col-xs-3 col-md-3 ">
                        <label for="check_out" class="control-label">Check Out Date</label>
                        <input class="form-control" type="date" style="width: 200px" value="" name="check_out" placeholder="9-14-2019">
                    </div>
                    <div class="form-group col-xs-3 col-md-3">
                        <button  type="submit" class="btn btn-primary" id="find_rooms_button" >Find Available Rooms!</button>
                    </div>
                </form>
            </div>

            <div class="row">
              <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">Single</h4>
                  <img src="{{ url_for('load_image', filename='single_pic.jpg') }}">
                  <div class="card-body">
                      <ul type="circle">
                        <li>One bedroom</li>
                        <li>One queen bed</li>
                        <li>Two person capacity</li>
                      </ul>
                  </div>
                    <div class="card-footer">
                    {% if single_count > 0 %}
                        <strong>{{ single_count }} available</strong><br>
                        <a href="#" class="btn btn-primary">Book Now</a>
                    {% endif %}
                    </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">Double</h4>
                  <img src="{{ url_for('load_image', filename='double_pic.jpg') }}">
                  <div class="card-body">
                      <ul type="circle">
                        <li>One bedroom</li>
                        <li>Two queen beds</li>
                        <li>Four person capacity</li>
                      </ul>
                  </div>
                    <div class="card-footer">
                    {% if double_count > 0 %}
                        <strong>{{ double_count }} available</strong><br>
                        <a href="#" class="btn btn-primary">Book Now</a>
                    {% endif %}
                    </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">Deluxe</h4>
                  <img src="{{ url_for('load_image', filename='deluxe_pic.jpg') }}">
                  <div class="card-body">
                      <ul type="circle">
                        <li>Two bedrooms and shared living room</li>
                        <li>Three queen beds</li>
                        <li>Six person capacity</li>
                      </ul>
                  </div>
                  <div class="card-footer">
                    <strong>{{ deluxe_count }} available</strong><br>
                    <a href="#" class="btn btn-primary">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </main>

    <footer class="py-5 bg-dark" id="footer">
        <div class="container">
          <p class="float-right text-white">
            <a href="#">Back to top</a>
          </p>
          <p class="float-left text-white">Hotel Reservation System</p>
        </div>
    </footer>
</body>
</html>
<script>

</script>
