<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>

    </style>
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
          <a class="navbar-brand" href="#">Hotel Reservation System</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Employee Portal</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main role="main">
        <div class="jumbotron jumbotron-fluid text-center" id="get_started">
            <h1>Find Available Rooms!</h1><br>
            <form id="start-date" value="Start Date" method="POST" enctype="multipart/form-data">
                    <input id="file-picker" class="btn btn-outline-secondary" type="file" name="file" accept="image/*" single />
                    <input type="submit" class="btn" value="Run the Classifier" id="upload-button" />
            </form>
        </div>
        <div class="container">
            <div class="row">
              <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">Single</h4>
                  <img src="{{ url_for('load_image', filename='single_room2.jpg') }}">
                  <div class="card-body">
                      <ul type="circle">
                        <li>One bedroom</li>
                        <li>One queen bed</li>
                        <li>Two person capacity</li>
                      </ul>
                  </div>
                  <div class="card-footer">
                    <a href="#" class="btn btn-primary">Learn More</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">Double</h4>
                  <img src="{{ url_for('load_image', filename='double_room2.jpg') }}">
                  <div class="card-body">
                      <ul type="circle">
                        <li>One bedroom</li>
                        <li>Two queen beds</li>
                        <li>Four person capacity</li>
                      </ul>
                  </div>
                  <div class="card-footer">
                    <a href="#" class="btn btn-primary">Learn More</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 mb-4">
                <div class="card h-100">
                  <h4 class="card-header">Deluxe</h4>
                  <img src="{{ url_for('load_image', filename='deluxe_room2.jpg') }}">
                  <div class="card-body">
                      <ul type="circle">
                        <li>Two bedrooms and shared living room</li>
                        <li>Three queen beds</li>
                        <li>Six person capacity</li>
                      </ul>
                  </div>
                  <div class="card-footer">
                    <a href="#" class="btn btn-primary">Learn More</a>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </main>

    <footer class="py-5 bg-dark">
        <div class="container">
          <p class="float-right text-white">
            <a href="#">Back to top</a>
          </p>
          <p class="float-left text-white">Hotel Reservation System</p>
        </div>
    </footer>
</body>
</html>
<script>
</script>
