{% extends "layout.html" %}

{% block content %}
<style>
    .reservation-form  span { padding-top:12px; }
    .reservation-form  label { padding-top:12px; }
    .reservation-form  .pad-adjust { padding-top:10px; }
    .reservation-form h3 {padding-bottom: 10px}
    #room-type {
        text-transform: capitalize;
    }

</style>
<body>
    <main role="main">
        <div class="container"><br>
            <div class="jumbotron center">
                <form action="{{ url_for('store_reservation', reservation=reservation.length) }}" method="post" class="reservation-form">
                    <h1 class="font-weight-medium">Complete Your Reservation!</h1><br>
                    <p>You've selected a {{ reservation.room_type }} room stay for {{ reservation.length }} nights, beginning on {{ reservation.check_in }}<br> We just need a few more details to complete your reservation!</p>
                        <h4 class="font-weight-light">Additional Features</h4>
                        <div class="row">
                         <div class="col-md-3 col-sm-3 col-xs-3">
                             <div class="custom-control custom-checkbox custom-control-inline" onchange="get_price()">
                              <input type="checkbox" class="custom-control-input" name='wifi' id="wifi_check" value="TRUE">
                              <label class="custom-control-label" for="wifi_check">WiFi | $10/day</label>
                            </div>
                         </div>
                         <div class="col-md-3 col-sm-3 col-xs-3">
                             <div class="custom-control custom-checkbox custom-control-inline" onchange="get_price()">
                              <input type="checkbox" class="custom-control-input" name='parking' id="parking_check" value="TRUE">
                              <label class="custom-control-label" for="parking_check">Parking | $20 flat fee</label>
                            </div>
                         </div>
                         <div class="col-md-3 col-sm-3 col-xs-3">
                             <div class="custom-control custom-checkbox custom-control-inline" onchange="get_price()">
                              <input type="checkbox" class="custom-control-input" name='tv' id="tv_check" value="TRUE">
                              <label class="custom-control-label" for="tv_check">Cable TV | $10/day</label>
                            </div>
                         </div>
                         <div class="col-md-3 col-sm-3 col-xs-3">
                              <div class="custom-control custom-checkbox custom-control-inline" onchange="get_price()">
                              <input type="checkbox" class="custom-control-input" name='pool' id="pool_check" value="TRUE">
                              <label class="custom-control-label" for="pool_check">Pool Access | $30 flat fee</label>
                            </div>
                         </div>
                        </div><br>
                        <h4 class="font-weight-light">Cost Breakdown</h4>
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th scope="col"></th>
                              <th scope="col">Price</th>
                              <th scope="col">Night Multiplier</th>
                              <th scope="col">Total Cost</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row" id="room-type">{{ reservation.room_type }} Room</th>
                              <td>${{ reservation.price_per_night }}/night</td>
                              <td>{{ reservation.length }}</td>
                              <td id="room_price"></td>
                            </tr>
                            <tr>
                              <th scope="row">WiFi</th>
                              <td>$10/night</td>
                              <td>{{ reservation.length }}</td>
                              <td id="wifi_price"></td>
                            </tr>
                            <tr>
                              <th scope="row">Parking</th>
                              <td>$20 flat rate</td>
                              <td></td>
                              <td id="parking_price"></td>
                            </tr>
                            <tr>
                              <th scope="row">Cable TV</th>
                              <td>$10/night</td>
                              <td>{{ reservation.length }}</td>
                              <td id="tv_price"></td>
                            </tr>
                            <tr>
                              <th scope="row">Pool Access</th>
                              <td>$30 flat rate</td>
                              <td></td>
                              <td id="pool_price"></td>
                            </tr>
                            <tr>
                              <th scope="row">Total Cost</th>
                              <td></td>
                              <td></td>
                              <td id="total_price"></td>
                            </tr>
                          </tbody>
                        </table>
                        <h4 class="font-weight-light">Personal Information</h4>
                            <div class="row">
                              <div class="col-md-6 col-sm-6 col-xs-6">
                                  <span class="help-block text-muted" > First Name</span>
                                  <input type="text" class="form-control" name='first_name' placeholder="John" />
                              </div>
                                 <div class="col-md-6 col-sm-6 col-xs-6">
                                  <span class="help-block text-muted" >  Last Name</span>
                                  <input type="text" class="form-control" name='last_name' placeholder="Doe" />
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6 col-sm-6 col-xs-6">
                                  <span class="help-block text-muted" > Email</span>
                                  <input type="text" class="form-control" name='email' placeholder="john.doe@email.com" />
                              </div>
                                 <div class="col-md-6 col-sm-6 col-xs-6">
                                  <span class="help-block text-muted" >  Phone Number</span>
                                  <input type="text" class="form-control" name='phone' placeholder="012-345-6789" />
                              </div>
                            </div><br>
                        <h4 class="font-weight-light">Payment Information</h4>
                        <div class="row ">
                          <div class="col-md-12">
                              <span class="help-block text-muted" >  Card Number</span>
                              <input type="text" class="form-control" placeholder="Enter Card Number" />
                          </div>
                        </div>
                        <div class="row ">
                          <div class="col-md-4 col-sm-4 col-xs-4">
                              <span class="help-block text-muted" > Expiry Month</span>
                              <input type="text" class="form-control" placeholder="MM" />
                          </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                              <span class="help-block text-muted" >  Expiry Year</span>
                              <input type="text" class="form-control" placeholder="YYYY" />
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                  <span class="help-block text-muted" >  CCV</span>
                                  <input type="text" class="form-control" placeholder="123" />
                              </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12 pad-adjust">
                                <span class="help-block text-muted" >  Name on the Card</span>
                                <input type="text" class="form-control" placeholder="John Doe" />
                            </div>
                        </div><br>
                        <div class="row " id="payment_buttons">
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                 <input type="submit"  class="btn btn-danger" value="CANCEL" />
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust" id="payment_buttons">
                                  <input type="submit"  class="btn btn-warning btn-block" value="PAY NOW" />
                              </div>
                        </div>
                </form>
            </div>
        </div>
    </main>
</body>

<script>

function get_price() {
            const len = parseInt('{{ reservation.length }}');
            const price_per_night = parseInt('{{ reservation.price_per_night }}');

            // Calculating price of stay
            let price = len * price_per_night;

            //Update cost table
            document.getElementById('room_price').innerHTML = '$' + String(len * price_per_night);


            // Update cost table as user selects additional features
            if (document.getElementById('wifi_check').checked){
                let wifi_price = len * 10;
                document.getElementById('wifi_price').innerHTML = '$' + String(wifi_price);
                price += wifi_price;
            } else {
                document.getElementById('wifi_price').innerHTML = '';
            }
            if (document.getElementById('parking_check').checked){
                let parking_price = 20;
                document.getElementById('parking_price').innerHTML = '$' + String(parking_price);
                price += parking_price;
            } else {
                document.getElementById('parking_price').innerHTML = '';
            }
            if (document.getElementById('tv_check').checked){
                let tv_price = len * 10;
                document.getElementById('tv_price').innerHTML = '$' + String(tv_price);
                price += tv_price;
            } else {
                document.getElementById('tv_price').innerHTML = '';
            }
            if (document.getElementById('pool_check').checked){
                let pool_price = 30;
                document.getElementById('pool_price').innerHTML = '$' + String(pool_price);
                price += pool_price;
            } else {
                document.getElementById('pool_price').innerHTML = '';
            }

            document.getElementById('total_price').innerHTML = '$' + String(price);
         }
         window.onload = get_price;
</script>
{% endblock %}
